body {
    font-family: 'Georgia', serif;
    color: #333;
}

.navbar {
    background-color: #000 !important;
}

.navbar-brand {
    color: #fff !important;
}

.navbar-brand:hover {
    color: #ccc !important;
}

.form-container {
    border-radius: 0;
    padding: 20px;
    margin-top: 20px;
}

.form-container .form-group {
    margin-bottom: 15px;
}

.form-container .form-control {
    border-radius: 0;
    border: 1px solid #444;
}

.form-container .form-control:focus {
    border-color: #777;
}

.form-container .btn-primary {
    background-color: #000;
    border-color: #000;
}

.form-container .btn-primary:hover {
    background-color: #ffffff;
    border-color: #000000;
    color:black;
}
